{% extends 'base.html' %} {% block body %} {% if melons_list %}
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Melon Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for melon in melons_list %}
    <tr>
      <td>{{ melon.common_name }}</td>
      <td>{{ melon.qty }}</td>
      <td>{{ "$%.2f"|format(melon.price) }}</td>
      <td>{{ "$%.2f"|format(melon.price * melon.qty) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Total: ${{ total }}</h3>
{% endif %}

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
